<form class="d-flex flex-column gap-2 align-items-center mt-5">
  <div class="col-6">
    <input
      type="text"
      placeholder="inserisci username"
      name="username"
      [(ngModel)]="user.name"
    />
    <label for="name">{{ user.name }}</label>
  </div>
  <div class="col-6">
    <input
      type="password"
      placeholder="inserisci password"
      name="password"
      [(ngModel)]="user.password"
    />
  </div>
  <button (click)="login()" class="btn btn-primary">Login</button>
</form>
