<form
  [formGroup]="form"
  class="d-flex flex-column gap-2 align-items-center mt-5"
>
  <div class="form-group col-6">
    <input
      type="text"
      placeholder="inserisci il tuo nome"
      formControlName="nome"
      class="form-control"
    />
  </div>
  <div class="form-group col-6">
    <input
      type="text"
      placeholder="inserisci il tuo cognome"
      formControlName="cognome"
      class="form-control"
    />
  </div>
  <div class="form-group col-6">
    <input
      type="password"
      placeholder="inserisci password"
      formControlName="password"
      class="form-control"
    />
  </div>
  <div class="form-group col-6">
    <input
      type="password"
      placeholder="conferma password"
      formControlName="confermaPassword"
      class="form-control"
    />
  </div>
  <div class="form-group col-6">
    <select formControlName="genere" class="form-select">
      <option selected>--Maschio/Femmina--</option>
      <option value="1">Maschio</option>
      <option value="2">Femmina</option>
    </select>
  </div>
  <div class="form-group col-6">
    <input
      type="file"
      placeholder="inserisci immagine"
      formControlName="image"
      class="form-control"
    />
  </div>
  <div class="form-group col-6">
    <textarea
      placeholder="breve biografia"
      formControlName="bio"
      class="form-control"
    ></textarea>
  </div>
  <div class="form-group col-6">
    <input
      type="text"
      placeholder="inserisci il tuo userName"
      formControlName="username"
      class="form-control"
    />
  </div>
  <button (click)="send()" class="btn btn-primary">Registrati</button>
</form>
